.btn-delete {
  width: 4rem;
  height: 4rem;
  border: 0;
  border-radius: var(--border-radius);
  transition: all 0.3s;
}

.btn-delete {
  background: var(--gray-background) url(../../assets/icon-delete.svg) no-repeat
    50% 50% / 1.6rem;
}

.btn-delete:hover {
  background: var(--red-color) url(../../assets/icon-delete-white.svg) no-repeat
    50% 50% / 1.6rem;
}

.btn-delete:focus {
  outline-color: rgba(var(--red-rgb), 0.2);
  box-shadow: 0 0 0 1px var(--red-color);
}
