.title-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 8rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
.title-wrap h2 {
  width: 100%;
  text-transform: none;
}

@media (max-width: 1024px) {
  .title-wrap {
    flex-direction: column;
    gap: 2rem;
  }

  .title-wrap h2 {
    font-size: 3.2rem;
    font-weight: bold;
  }
  .title-wrap button {
    flex-shrink: 0;
  }
}
